.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

th,
td {
  border: 1px solid #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 8px;
  font-size: 26px;
}

th {
  /* background-color: rgb(117, 201, 250); */
  /* background-color: #04AA6D; */
  background-color: #0275d8;
  color: #ffffff;
}

/* td {
  background-color: rgb(205, 235, 253); #32cd32 #138808 
  background-color: lightgreen;
} */

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 36px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#form-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid black;
  border-radius: 14px;
  padding: 20px;
}

hr{
  border: 0;
  border-top:1px solid black;
  width: 100%;
  margin-top: 16px;
}

/* #input-form {
  border: 1px solid black;
  padding: 16px;
} */

input{
  max-width: 500px;
  margin-bottom: 20px;
  font-size: 20px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: #0275d8;
  color: #ffffff;
  border: none;
  padding: 4px 8px;
}